{% extends 'base.html' %}
{% load custom_filters %}
{% block title_block %} Home {% endblock title_block %}
{% block main_content %}

{% for blog in blogs %}
    <h4><a href="{% url 'Blog_Management_App:full_blog' slug=blog.slug %}" class="text-decoration-none title-font">{{ blog.blog_title }}</a></h4>
    <h6 class="time-font">{{ blog.publish_date }}</h6>
    <div class="row">
        <div class="col-lg-4">
            <img src="/media/{{ blog.blog_image }}" alt="{{ blog.blog_title }}" title="{{ blog.blog_title }}" width="100%">
        </div>
        <div class="col-lg-8">
            <p class="regular-font">{{ blog.blog_content|range_filter }}</p>
            <h6 class="fw-bold time-font">Posted by: <a href="#">@{{ blog.author }}</a></h6>
            <h6 class="time-font">{{ blog.liked_blog.count }} Likes | {{ blog.blog_comment.count }} Comments</h6>
        </div>
    </div>
    <hr>
{% endfor %}

{% endblock main_content %}