{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Add Profile Picture {% endblock title_block %}
{% block main_content %}

<div class="row justify-content-center mt-3">
    <div class="col-lg-8">
        <h3 class="text-center mt-3 fw-bold">Add Your Profile Picture</h3>
        <form method="POST" enctype="multipart/form-data">
            <div class="d-flex justify-content-center">
                {{ form|crispy }}
                {% csrf_token %}
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-success d-block">Submit</button>
            </div>
            <br>
        </form>
    </div>
</div>

{% endblock main_content %}