{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Edit Profile {% endblock title_block %}
{% block main_content %}

<div class="row justify-content-center mt-3">
    <div class="col-lg-10">
        <h3 class="text-center mt-3 fw-bold">Edit Your Profile</h3>
        <form method="POST">
            {{ form|crispy }}
            {% csrf_token %}
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-success d-block">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock main_content %}
    
    