{% extends 'base.html' %}
{% block title_block %} Profile {% endblock title_block %}
{% block main_content %}

<div class="mt-2">
    <h2 class="title-font">Your Profile</h2>
    <hr>
    <div class="mb-2 time-font">
        {% if user.user_profile %}
            <img src="/media/{{ user.user_profile.profile_picture }}" alt="Profile picture" class="rounded-circle" width="100px">
            <div class="mt-3">
                <a href="{% url 'Account_Management_App:change_profile_picture' %}">Change profile picture</a>
            </div>
        {% else %}
            <img src="/media/profile_pics/demo.png" alt="avater" class="rounded-circle" width="100px">
            <div class="mt-2">
                <a href="{% url 'Account_Management_App:add_profile_picture' %}" class="text-decoration-none">Add profile picture</a>
            </div>
        {% endif %}
    </div>
    <div class="time-font">
        <h5>Name: {{ user.first_name }} {{ user.last_name }}</h5>
        <h5>Username: {{ user.username }}</h5>
        <h5>Email: {{ user.email }}</h5>
    </div>
    <a href="{% url 'Account_Management_App:edit_profile' %}" class="btn btn-warning time-font">Edit Profile</a>
</div>

{% endblock main_content %}